/* start custom scss snippet */
.work {
    width:100%;
    height: 100%;
    display:inline-block;

    .description {
        display: inline-block;
        margin: map-get($spacers, 3) 0;
    }
    .wrapper {
        display: block;
        float:left;
        max-width: 400px;
        margin: 0 map-get($spacers, 3) 0 0;
    }
    .thumbnail {
        display: inline-block;
        max-width: 400px;
        margin: 0;
    }
    .title {
        font-weight: bold;
        font-size: map-get($base, font-size-h2);
    }
    .author {
        font-size: map-get($base, font-size-sm);
        margin: 0;
        color: gray;
    }
}
/* end custom scss snippet */
